body {
    background: #E8E8E8;
}
.lead{
    font-weight:500;
}
.service-box {
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    max-width: 320px;
    border-radius: 20px;
    margin:auto;
}

    .service-box:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        transform: translateY(-10px);
    }

    .service-box.disabled {
        background-color: #e9ecef;
        cursor: not-allowed;
    }

        .service-box.disabled .service-title {
            color: #adb5bd;
        }

    .service-box.active {
        cursor: pointer;
        border-color: #28a745;
    }

.navBar {
    height: 100px;
    width: 100%;
    background: #00263E;
    position: fixed;
    top: 0px;
    overflow: hidden;
    left: 0px;
}

.center-logo {
    margin: auto;
}

img {
    max-width: 100%;
    max-height: 100%;
    /*border-radius: 50%;*/
}

#clibLogo {
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bodyContent {
    /*width: 80%;*/
    margin: auto;
    height: 100%;
    padding: 20px;
    margin-top: 100px;
    background: #E8E8E8;
    overflow-y: auto;
    overflow-x: hidden;

    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 20px;
}


.icon-container {
    margin-bottom: 10px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-icon {
    width: 80px;
}

.coming-soon-text {
    font-size: 1.5rem;
    color: #dc3545;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(-45deg);
    font-weight: bold;
}

.service-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.disabled .coming-soon-text {
    display: block;
}

.card {
    width: 320px;
    background: #fff;
    color: black;
    position: relative;
    border-radius: 2.5em;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: transform 0.4s ease;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
}

    .card .card-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5em;
        height: 100%;
        transition: transform 0.4s ease;
    }

    .card .card-top, .card .card-bottom {
        display: flex;
        justify-content:center;
    }

        .card .card-top p, .card .card-top .card-title, .card .card-bottom p, .card .card-bottom .card-title {
            margin: 10px;
        }

    .card .card-title {
        font-weight: bold;
    }

    .card .card-top p, .card .card-bottom p {
        font-weight: 600;
    }

    .card .card-bottom {
        align-items: flex-end;
    }

    .card .card-image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: grid;
        place-items: center;
        pointer-events: none;
    }

        .card .card-image svg {
            width: 4em;
            height: 4em;
            transition: transform 0.4s ease;
        }

    .card:hover {
        cursor: pointer;
        transform: scale(0.97);
    }

        .card:hover .card-content {
            transform: scale(0.96);
        }

        .card:hover .card-image svg {
            transform: scale(1.05);
        }

    .card:active {
        transform: scale(0.9);
    }
